.app__header {
  background-color: var(--color-black);
  padding-top: 2 rem;
}

.app__header-container {
  background: url("../../assets/bg.png");
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__header-h1 {
  color: var(--color-golden);
  font-family: var(--font-base);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 80px;
}

.app__wrapper_img img {
  size: 80%;
  border: 15px solid var(--color-golden);
}

@media screen and (min-width: 1900px) {
  .app__header-container {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 1450px) {
  .app__header-container {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .app__header-container {
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 650px) {
  .app__wrapper_img img {
    border: 8px solid var(--color-golden);
  }
}
